body{
    font-family: 'Montserrat', sans-serif;
    background: #EDF2F4;
}

header{
    background: #D90429;
    padding: 20px 0;
    border-bottom:14px solid #EF233C;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 0px;
    right: 0;
}

nav li{
    display: inline;
    align-content: center;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

.principal{
    padding: 3em 0;
    background: #EDF2F4;
    width: 940px;
    margin: 0 auto;
    border: 3px solid #EDF2F4;
    border-radius: 10px;
}

.principal p{
    margin: 0 0 1em;
}

footer{
    border-top: 14px solid #8D99AE;
    text-align: center;
    background: #2B2D42;
    padding: 40px 0;
    color: white;
}
h2{
    padding: 10px;
    font-size: 18px;
}

/* 3D flip photo */
.descricao{
    padding-top: 10px ;
    font-size: 18px;
}

.estilos{
    display: inline-block;
    width: 940px;
    margin: 0;
    padding: 50px 0;
}

.estilos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: middle;
    margin: 0 1.5%;
    padding: 20px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.card-container{
    perspective: 800px;
}

.card {
    width: center;
    height: 200px;
    transform-style: preserve-3d;
    position: relative;
    transition: transform .75s cubic-bezier(0.4, 0.03, 0.5, 0.9);
}

.card_image{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    outline: 2px solid #f20303;
    outline-offset: 5px;
    backface-visibility: hidden;
}

.card_image:nth-child(2),
.card:hover{
    transform: rotate3d(1,1,0, 180deg);
}

/* Toggle animation */

#toggle{
    display: none;
}

.button {
    display: inline-block;
    width: 90px;
    height: 35px;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

.button::after {
    content: url(/imagens/sun-line.svg);
    width: 40px;
    height: 40px;
    background-color: #D90429;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    position: absolute;
    top: -5px;
    left: 0;
    display: grid;
    line-height: 0;
    transition: background-color 1s,
    transform 1s ease-in;
}

#toggle:checked + .button::after{
    content: url(/imagens/moon-line.svg);
    background-color: #1f257f;
    transform: translateX(50px) rotate(360deg);
}



