body{
    font-family: 'Montserrat', sans-serif;
    background: #EDF2F4;
}

header{
    display: flex;
    justify-content: space-between;
    font-family: "Rubik";
    background: #D90429;
    padding: 20px 0;
    border-bottom:14px solid #EF233C;
}

.caixa {
    display:flex ;
    justify-content: space-between;
    position: relative;
    width: 940px;
    margin: 0 auto;
}


.contatocmg{
    text-align: center;
    display: block;
}

li{
    justify-content: center;
    display: block;
    text-align: center;
    padding: 10px;
}

nav {
    position: absolute;
    top: 0px;
    right: 0;
}

nav li{
    display: inline;
    align-content: center;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

.principal{
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3em 0;
    background: #EDF2F4;
    width: 940px;
    margin: 0 auto;
    border: 3px solid #EDF2F4;
    border-radius: 10px;
    word-break: break-all;
}

.principal p{
    justify-content: center;
    text-align: center;
    align-items: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

footer{
    position: relative;
    bottom: 0;
    border-top: 14px solid #8D99AE;
    text-align: center;
    background: #2B2D42;
    padding: 40px 0;
    color: white;
}
h2{
    padding: 10px;
    font-size: 18px;
}

.descricao{
    padding-top: 10px ;
    font-size: 18px;
}

.estilos{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    margin: 5px;
    padding: 10px ;
}

.estilos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: middle;
    margin: 1% 1.5%;
    padding: 20px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

/* 3D flip photo */


.card-container{
    perspective: 800px;
}

.card {
    width: auto;
    height: 200px;
    transform-style: preserve-3d;
    position: relative;
    transition: transform .75s cubic-bezier(0.4, 0.03, 0.5, 0.9);
}

.card_image{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    outline: 2px solid #f20303;
    outline-offset: 5px;
    backface-visibility: hidden;
}

.card_image:nth-child(2),
.card:hover{
    transform: rotate3d(1,1,0, 180deg);
}

/* Toggle animation */

#toggle{
    display: none;
}

.button {
    display: inline-block;
    width: 90px;
    height: 35px;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

.button::after {
    content: url(/src/imagens/sun-line.svg);
    width: 40px;
    height: 40px;
    background-color: #D90429;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    position: absolute;
    top: -5px;
    left: 0;
    display: grid;
    line-height: 0;
    transition: background-color 1s,
    transform 1s ease-in;
}

#toggle:checked + .button::after{
    content: url(/src/imagens/moon-line.svg);
    background-color: #1f257f;
    transform: translateX(50px) rotate(360deg);
}

/* bouncing animation */

.loader{
    width: 120px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 60px 60px 30px 30px;
}

.loader span{
    font-size: 22px;
    text-transform: uppercase;
    margin: auto;
}

.ball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #2B2D42;
    animation: bounce.5s alternate
    infinite;
}

.ball:nth-child(2){
    animation-delay: .16s;
}

.ball:nth-child(3){
    animation-delay: .32s;
}



@keyframes bounce{
    from {
        transform: scaleX(1.25);
    }
    to {
        transform: translateY(-50px) scaleX(1);
    }
}

/* card glass effect */

.card-glass{
    width: auto;
    height: 200px;
    position: relative;
    margin: 40px;
}

.card-iner{
    width: inherit;
    height: inherit;
    background-color: rgba(255, 255, 255, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

.circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#b0e633, #53ef7d);
    border-radius: 50%;
    position: absolute;
    animation: move-up 2s ease-in infinite alternate-reverse;
}

circle:nth-child(1){
    top: -25px;
    left: -25px;
}

.circle:nth-child(2){
    bottom: -25px;
    right: -25px;
    animation-name: move-down;
}

@keyframes move-up{
    to{
        transform: translateY(-10px);
    }
}

@keyframes move-down{
    to{
        transform: translateY(10px);
    }
}

/* Button effect */
.btn {
    height: 3rem;
    width: 9rem;
    margin: 20px;
    border: 3px solid #f20303;
    background: transparent;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.btn::before,
.btn::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: 0.5s ease;
}

.btn::before{
    left: -15px;
    top: -15px;
    border-width: 3px 0 0 3px;
}

.btn::after{
    right: -15px;
    bottom: -15px;
    border-width: 0 3px 3px 0;
}

.btn:hover::after, 
.btn:hover::before{
    width: calc(100% + 27px);
    height: calc(100% + 27px);
}

/* checkbox */

label{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 20px;
    cursor: pointer;
}

input{
    position: middle;
    transform: scale(0);
}

input:checked ~ .checkbox{
    transform: rotate(45deg);
    width: 20px;
    margin-left: 16px;
    border-color: #24c78e;
    border-top: transparent;
    border-left: transparent;
    border-radius: 0;
}

.checkbox{
    display: block;
    width: inherit;
    height: inherit;
    border: 3px solid #434343;
    border-radius: 6px;
    transition: all 0.375s;
}